{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="vh-80" style="background-color: #eee;">
        <div class="container h-80">
            <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black mt-5 mb-5" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register </h3>

                                        {{ form_start(registrationForm) }}
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>

                                            {{ form_row(registrationForm.username) }}
                                        </div>


                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            {{ form_row(registrationForm.plainPassword) }}
                                        </div>

                                        <div class="form-check d-flex justify-content-lg-start mb-5 mx-0">
                                            {{ form_row(registrationForm.agreeTerms) }}
                                        </div>

                                        <div class="d-flex justify-content-start mx-0 mb-3">
                                            <button type="submit" class="btn btn-success btn-lg">Register</button>
                                        </div>
                                    {{ form_end(registrationForm) }}
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="/public/img/register_img.png"
                                         class="img-fluid" alt="Sample image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}