<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BookBinder{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('book-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('book-icon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('book-icon.png') }}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark
  mb-5" style="background-color: #78ad22;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">
            <i class="fa-solid fa-book-open"></i>
            BookBinder
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Search <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
            </div>
        </div>
    </div>
</nav>
<!-- End Main Navigation -->

{% block body %}{% endblock %}

<!-- Footer -->
<div class="container mt-5">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class=" d-flex align-items-center">
            <span class="text-muted me-1">Copyright &#169; 2023. BookBinder All Rights Reserved. </span>
            <a target="_blank" href="https://symfonycasts.com/" style="color: #25a1dd"
               class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
                Privacy Policy
            </a>
            <a target="_blank" href={{ path('app_terms')}} style="color:#25a1dd">
               class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
                Terms of Use
            </a>
        </div>
    </footer>
</div>
<!-- End Footer -->

</body>
</html>
